form {
  margin: 2rem 0;
}

form select {
  margin: 0.3rem 0.6rem;
}

.donor-options label {
  margin-left: 0.3rem;
}

select {
  border: none;
  border-radius: 5rem;
  background-color: var(--primary-color);
  padding: 0.2rem 0.3rem;
  color: var(--secundary-color);
  font-weight: bold;
  cursor: pointer;
  outline-color: var(--outline);
}

option {
  font-weight: bold;
}
