form {
  margin: 2rem 0;
}

form select {
  margin: 0.3rem 0.6rem;
}

.donor-options label {
  margin-left: 0.3rem;
}

select {
  border: none;
  border-radius: 5rem;
  background-color: var(--primary-color);
  padding: 0.2rem 0.3rem;
  color: var(--secundary-color);
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

option {
  font-weight: bold;
}

.result {
  display: inline-grid;
  font-size: 1.3rem;
}

.result img {
  width: 19rem;
}