form {
  margin: 2rem 0;
}

form select {
  margin: 0.3rem 0.6rem;
}

.donor-options label {
  margin-left: 0.5rem;
}

select {
  border: none;
  border-radius: 5rem;
  background-color: #d6b4b2;
  padding: 0.2rem 0.3rem;
  color: #d4451d;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

option {
  font-weight: bold;
}

.result {
  display: inline-grid;
}

.result img {
  width: 13rem;
}