@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

body {
  background: #282c34;
  color: lightgray;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Ubuntu', sans-serif;
}

.App {
  text-align: center;
}

.App p {
  position: fixed;
  bottom: 1.5rem;
  right: 40%;
  margin: 0.2rem 0.5rem;
}

.App button{
    background-color: #dab5a7;
    border: 2px solid #f6aeae;
    border-radius: 5rem;
    margin-left: 0.5rem;
    padding: 0.4rem 0.5rem;
    font-weight: bold;
    color: white;
    outline: none;
}

.App button:hover {
  opacity: 0.8;
  transition: 1s;
}

footer img:nth-child(2) {
  width: 2rem;
  margin-left: 0.5rem;
  bottom: 0.2rem;
}

.github {
  width: 2.3rem;
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  opacity: 0.4;
}

.github:hover {
  opacity: 0.8;
  transition: 1s;
}

@media (max-width: 600px) {
  .App p {
    display: flex;
    font-size: 0.9rem;
  }
  .App button{
    margin-left: 0.3rem;
    padding: 0.2rem 1.2rem;
  }
  footer img:nth-child(2)  {
    display: none;
  }
  .github {
    width: 2.1rem;
    bottom: 2rem;
    right: 1.5rem;
  }
}