@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
  --bg-color: #fad0c0;
  --primary-color: #faebd7;
  --secundary-color: #f82b5e;
  --text: #fd7073;
  --shadow: #000000;
  --opacity: 0.5;
}

.light-mode {
  --bg-color: #fad0c0;
  --primary-color: #faebd7;
  --secundary-color: #f82b5e;
  --text: #fd7073;
  --shadow: rgba(0, 0, 0, 0.31);
  --opacity: 0.85;
  transition: all 0.55s linear;
}
.dark-mode {
  --bg-color: #0b1d2b;
  --primary-color: #c4e7df;
  --secundary-color: #164f86;
  --text: #75eeb2;
  --opacity: 0.5;
  transition: all 0.55s linear;
}

body {
  background: var(--bg-color);
  color: var(--text);
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Ubuntu', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem 0;
}

.App {
  text-align: center;
}

.App p {
  position: fixed;
  bottom: 1.5rem;
  right: 40%;
  margin: 0.2rem 0.5rem;
}

.App button{
    background-color: var(--primary-color);
    border: 1.5px solid var(--text);
    border-radius: 5rem;
    margin-left: 0.5rem;
    padding: 0.4rem 0.5rem;
    font-weight: bold;
    color: var(--secundary-color);
    outline: none;
    cursor: pointer;
}

.App button:hover {
  opacity: 0.8;
  transition: 1s;
}

footer img:nth-child(2) {
  width: 2rem;
  position: fixed;
  margin-left: 0.5rem;
}

.github {
  width: 2.3rem;
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  opacity: 0.4;
}

.github:hover {
  opacity: 0.8;
  transition: 1s;
}

@media (max-width: 640px) {
  .App h1 {
    font-size: 1.3rem;
  }
  label {
    font-size: 0.8rem;
  }
  .App p {
    display: flex;
    position: absolute;
    font-size: 0.9rem;
  }
  .App button{
    margin-left: 0.3rem;
    padding: 0.2rem 1.2rem;
  }
  footer img:nth-child(2)  {
    display: none;
  }
  .github {
    width: 2.1rem;
    bottom: 2rem;
    right: 1.5rem;
  }
}
